img {
    /* width: 200px; */
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.item-box {
    border: 1px solid black;
    min-width: 25%;
    margin-left: 30px;
    text-align: center;
    margin-bottom: 30px;
    flex-direction: row;
    /* display: block; */
}

p {
    font-size: 23px;
    color: gray;
}